---
import "../styles/global.css";
---

<html lang="es" data-theme="rdr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Recordatorio de reuniones</title>
	</head>
	<body class="bg-base-100">
		<h1>Astro</h1>
	</body>
</html>
