---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { SignUp } from "@clerk/astro/components";
---

<SiteLayout title="Registrarse" description="Crea una cuenta nueva">
  <div class="flex justify-center items-center min-h-[60vh]">
    <SignUp />
  </div>
</SiteLayout>
